.firstSlide {
    background-image: url(Assets/film.jpg);
    background-size: cover;
    background-position: 0, 0;
    position: relative;
    width: 100%;
    max-height: 100vh;
}
.secondSlide {
    background-image: url(Assets/film.jpg);
    background-size: cover;
    background-position: 0, 0;
    position: relative;
    width: 100%;
    max-height: 100vh;
}
.thirdSlide {
    background-image: url(Assets/film.jpg);
    background-size: cover;
    background-position: 0, 0;
    position: relative;
    width: 100%;
    max-height: 100vh;
}