// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}

.logo{
  size: 300px, 100px;
}

.carousel-img {
  height: 680px;
  object-fit: cover;
}

.accordion-body{
  color: ivory;
}

.bg-outdoor {
  background-image: url("../assets/outdoor1.jpg");
}

.bg-outdoor2 {
  background-image: url("../assets/outdoor2.jpg");
}

.bg-outdoor3 {
  background-image: url("../assets/outdoor3.jpg");
}

.bg-parallax {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.bg-parallax:before {
  content: '';
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.film-img {
  height: 600px;
  object-fit: contain;
  }

.img-logo {
  height: 90px;
  margin: 0rem 5rem;
}

section { 
  background: linear-gradient($indigo-100,$indigo-500); 
}

.form{
  background: linear-gradient($indigo-500,$indigo-900); 
}

.film-player{
  visibility: hidden;
}